.stack-work/
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.idea
.idea/workspace.xml
.spago
.cache
basic/output
node_modules/
output/
out

basic/app/
basic/haskell-purescript-hello-world.cabal
basic/haskell-purescript-hello-world.iml
logging/app/
logging/haskell-purescript-hello-world-with-logging.cabal
logging/haskell-purescript-hello-world-with-logging.iml
