.stack-work/
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.idea/workspace.xml
frontend/.spago
frontend/.cache
basic/output
basic/frontend/node_modules/
basic/frontend/.cache/
basic/frontend/.spago/
basic/out/
basic/.idea/
basic/app/
basic/frontend/node_modules/
basic/haskell-purescript-hello-world.cabal
basic/haskell-purescript-hello-world.iml
basic/frontend/output/
